
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    color:white;
}
body {
    background-image: url(../img/bg/bg-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    text-decoration: none !important;
}
a span {
    font-size: 30px;
    color: green;
    font-weight: 800;
}
li {
    list-style-type: none;
}

.wrap {
    display: flex;
}
.container {
    width: 1520px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
}

header img {
    width: 100px; 
}

h1 {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
main {
    display: flex;
}

nav {
    width: 20% ;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
nav > h2 {
    font-size: 30px;
}

nav > ul {
    display: flex ;
    gap: 20px ;
    flex-direction: column ;
    height: 150px ;
    justify-content: space-between;
    padding-left: 20px ;
}
 h4 {
color: red !important;
font-size: 20px !important;
font-weight: 600 !important;
 }
 
 .block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
 }
 .block-content > h2 {
    font-size: 50px;
    color: red;
    font-weight: 800;
 }
 .block-content > ul {
    padding: 60px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
 }

 .active-el {
    scale: 1.1;
    text-decoration: underline;
    font-weight: 900;
    color:tomato;
}



 

@media (max-width: 900px) {
    .container {
        align-items: center;
        justify-content: center;
    }
    main {
        flex-direction: column;
        gap: 10px;
    }
    nav {
        /* width: 100%; */
        /* height: 100px; */
        gap: 50px;
    }
    
    .block-content {
        width: 100%;
        margin-top: 0;
    }
    .block-content__images {
        margin: 0 auto;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .block-content > h2 {
        margin-top: 30px;
        font-size: 30px;
        color: white;
        text-align: center;
    }
    nav > ul {
        flex-direction: row;
        height: 20px;
    }
    nav li {
        height: 20px;
    }
}
